@media screen and (max-width: 720px) {
  .root {
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}
}

@media screen and (max-width: 500px) {
  .root {
  grid-template-columns: 1fr;
  gap: 2rem;
}
}
